# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment / secrets
.env
.env.*
*.pem
*.key

# OS / IDE
.DS_Store
.vscode/
.idea/

# Worker specific
worker/dump.rdb

# Node / frontend (if/when you add it)
node_modules/
dist/
build/
